<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whpe.dao.ycbus.CardInfoMapper">
  <resultMap id="BaseResultMap" type="com.whpe.bean.CardInfo">
    <id column="FXKH" jdbcType="VARCHAR" property="fxkh" />
    <result column="CSDM" jdbcType="VARCHAR" property="csdm" />
    <result column="HYDM" jdbcType="VARCHAR" property="hydm" />
    <result column="KLX" jdbcType="VARCHAR" property="klx" />
    <result column="MKLX" jdbcType="VARCHAR" property="mklx" />
    <result column="ZKLX" jdbcType="VARCHAR" property="zklx" />
    <result column="CSN" jdbcType="VARCHAR" property="csn" />
    <result column="KZHZT" jdbcType="VARCHAR" property="kzhzt" />
    <result column="SKSJ" jdbcType="DATE" property="sksj" />
    <result column="YJ" jdbcType="DECIMAL" property="yj" />
    <result column="CZSJ" jdbcType="DATE" property="czsj" />
    <result column="CZJE" jdbcType="DECIMAL" property="czje" />
    <result column="SYSJ" jdbcType="DATE" property="sysj" />
    <result column="YE" jdbcType="DECIMAL" property="ye" />
    <result column="SYCS" jdbcType="DECIMAL" property="sycs" />
    <result column="TKSJ" jdbcType="DATE" property="tksj" />
    <result column="TKYJ" jdbcType="DECIMAL" property="tkyj" />
    <result column="TKJE" jdbcType="DECIMAL" property="tkje" />
    <result column="TKCS" jdbcType="DECIMAL" property="tkcs" />
    <result column="GSSJ" jdbcType="DATE" property="gssj" />
    <result column="GSRYBH" jdbcType="DECIMAL" property="gsrybh" />
    <result column="JGSJ" jdbcType="DATE" property="jgsj" />
    <result column="JGRYBH" jdbcType="DECIMAL" property="jgrybh" />
    <result column="GSCQ" jdbcType="VARCHAR" property="gscq" />
    <result column="CHANGEFXKH" jdbcType="VARCHAR" property="changefxkh" />
    <result column="CHANGESJ" jdbcType="DATE" property="changesj" />
    <result column="CHANGERYBH" jdbcType="DECIMAL" property="changerybh" />
    <result column="HMDBZ" jdbcType="VARCHAR" property="hmdbz" />
    <result column="CARDCNT" jdbcType="DECIMAL" property="cardcnt" />
    <result column="POSSEQ" jdbcType="DECIMAL" property="posseq" />
    <result column="RYBH" jdbcType="DECIMAL" property="rybh" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="XB" jdbcType="VARCHAR" property="xb" />
    <result column="ZJLX" jdbcType="VARCHAR" property="zjlx" />
    <result column="ZJBH" jdbcType="VARCHAR" property="zjbh" />
    <result column="CSHRQ" jdbcType="DATE" property="cshrq" />
    <result column="QYRQ" jdbcType="DATE" property="qyrq" />
    <result column="YXRQ" jdbcType="DATE" property="yxrq" />
    <result column="NSRQ" jdbcType="DATE" property="nsrq" />
    <result column="NSRYBH" jdbcType="DECIMAL" property="nsrybh" />
    <result column="ISNS" jdbcType="VARCHAR" property="isns" />
    <result column="KZHXFJESUM" jdbcType="DECIMAL" property="kzhxfjesum" />
    <result column="KZHCZJESUM" jdbcType="DECIMAL" property="kzhczjesum" />
    <result column="FKRYBH" jdbcType="DECIMAL" property="fkrybh" />
    <result column="FKXM" jdbcType="VARCHAR" property="fkxm" />
    <result column="SAMKH" jdbcType="VARCHAR" property="samkh" />
    <result column="YKBZ" jdbcType="VARCHAR" property="ykbz" />
    <result column="JY" jdbcType="VARCHAR" property="jy" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="PIN" jdbcType="VARCHAR" property="pin" />
    <result column="QBYE" jdbcType="DECIMAL" property="qbye" />
    <result column="SYJF" jdbcType="DECIMAL" property="syjf" />
  </resultMap>
  <sql id="Base_Column_List">
    FXKH, CSDM, HYDM, KLX, MKLX, ZKLX, CSN, KZHZT, SKSJ, YJ, CZSJ, CZJE, SYSJ, YE, SYCS, 
    TKSJ, TKYJ, TKJE, TKCS, GSSJ, GSRYBH, JGSJ, JGRYBH, GSCQ, CHANGEFXKH, CHANGESJ, CHANGERYBH, 
    HMDBZ, CARDCNT, POSSEQ, RYBH, XM, XB, ZJLX, ZJBH, CSHRQ, QYRQ, YXRQ, NSRQ, NSRYBH, 
    ISNS, KZHXFJESUM, KZHCZJESUM, FKRYBH, FKXM, SAMKH, YKBZ, JY, BZ, PIN, QBYE, SYJF
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gjic.CARD_INFO
    where FXKH = #{fxkh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gjic.CARD_INFO
    where FXKH = #{fxkh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.whpe.bean.CardInfo">
    insert into gjic.CARD_INFO (FXKH, CSDM, HYDM,
      KLX, MKLX, ZKLX, CSN, 
      KZHZT, SKSJ, YJ, CZSJ, 
      CZJE, SYSJ, YE, SYCS, 
      TKSJ, TKYJ, TKJE, TKCS, 
      GSSJ, GSRYBH, JGSJ, JGRYBH, 
      GSCQ, CHANGEFXKH, CHANGESJ, 
      CHANGERYBH, HMDBZ, CARDCNT, 
      POSSEQ, RYBH, XM, XB, 
      ZJLX, ZJBH, CSHRQ, QYRQ, 
      YXRQ, NSRQ, NSRYBH, ISNS, 
      KZHXFJESUM, KZHCZJESUM, FKRYBH, 
      FKXM, SAMKH, YKBZ, 
      JY, BZ, PIN, QBYE, 
      SYJF)
    values (#{fxkh,jdbcType=VARCHAR}, #{csdm,jdbcType=VARCHAR}, #{hydm,jdbcType=VARCHAR}, 
      #{klx,jdbcType=VARCHAR}, #{mklx,jdbcType=VARCHAR}, #{zklx,jdbcType=VARCHAR}, #{csn,jdbcType=VARCHAR}, 
      #{kzhzt,jdbcType=VARCHAR}, #{sksj,jdbcType=DATE}, #{yj,jdbcType=DECIMAL}, #{czsj,jdbcType=DATE}, 
      #{czje,jdbcType=DECIMAL}, #{sysj,jdbcType=DATE}, #{ye,jdbcType=DECIMAL}, #{sycs,jdbcType=DECIMAL}, 
      #{tksj,jdbcType=DATE}, #{tkyj,jdbcType=DECIMAL}, #{tkje,jdbcType=DECIMAL}, #{tkcs,jdbcType=DECIMAL}, 
      #{gssj,jdbcType=DATE}, #{gsrybh,jdbcType=DECIMAL}, #{jgsj,jdbcType=DATE}, #{jgrybh,jdbcType=DECIMAL}, 
      #{gscq,jdbcType=VARCHAR}, #{changefxkh,jdbcType=VARCHAR}, #{changesj,jdbcType=DATE}, 
      #{changerybh,jdbcType=DECIMAL}, #{hmdbz,jdbcType=VARCHAR}, #{cardcnt,jdbcType=DECIMAL}, 
      #{posseq,jdbcType=DECIMAL}, #{rybh,jdbcType=DECIMAL}, #{xm,jdbcType=VARCHAR}, #{xb,jdbcType=VARCHAR}, 
      #{zjlx,jdbcType=VARCHAR}, #{zjbh,jdbcType=VARCHAR}, #{cshrq,jdbcType=DATE}, #{qyrq,jdbcType=DATE}, 
      #{yxrq,jdbcType=DATE}, #{nsrq,jdbcType=DATE}, #{nsrybh,jdbcType=DECIMAL}, #{isns,jdbcType=VARCHAR}, 
      #{kzhxfjesum,jdbcType=DECIMAL}, #{kzhczjesum,jdbcType=DECIMAL}, #{fkrybh,jdbcType=DECIMAL}, 
      #{fkxm,jdbcType=VARCHAR}, #{samkh,jdbcType=VARCHAR}, #{ykbz,jdbcType=VARCHAR}, 
      #{jy,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{pin,jdbcType=VARCHAR}, #{qbye,jdbcType=DECIMAL}, 
      #{syjf,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.whpe.bean.CardInfo">
    insert into gjic.CARD_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fxkh != null">
        FXKH,
      </if>
      <if test="csdm != null">
        CSDM,
      </if>
      <if test="hydm != null">
        HYDM,
      </if>
      <if test="klx != null">
        KLX,
      </if>
      <if test="mklx != null">
        MKLX,
      </if>
      <if test="zklx != null">
        ZKLX,
      </if>
      <if test="csn != null">
        CSN,
      </if>
      <if test="kzhzt != null">
        KZHZT,
      </if>
      <if test="sksj != null">
        SKSJ,
      </if>
      <if test="yj != null">
        YJ,
      </if>
      <if test="czsj != null">
        CZSJ,
      </if>
      <if test="czje != null">
        CZJE,
      </if>
      <if test="sysj != null">
        SYSJ,
      </if>
      <if test="ye != null">
        YE,
      </if>
      <if test="sycs != null">
        SYCS,
      </if>
      <if test="tksj != null">
        TKSJ,
      </if>
      <if test="tkyj != null">
        TKYJ,
      </if>
      <if test="tkje != null">
        TKJE,
      </if>
      <if test="tkcs != null">
        TKCS,
      </if>
      <if test="gssj != null">
        GSSJ,
      </if>
      <if test="gsrybh != null">
        GSRYBH,
      </if>
      <if test="jgsj != null">
        JGSJ,
      </if>
      <if test="jgrybh != null">
        JGRYBH,
      </if>
      <if test="gscq != null">
        GSCQ,
      </if>
      <if test="changefxkh != null">
        CHANGEFXKH,
      </if>
      <if test="changesj != null">
        CHANGESJ,
      </if>
      <if test="changerybh != null">
        CHANGERYBH,
      </if>
      <if test="hmdbz != null">
        HMDBZ,
      </if>
      <if test="cardcnt != null">
        CARDCNT,
      </if>
      <if test="posseq != null">
        POSSEQ,
      </if>
      <if test="rybh != null">
        RYBH,
      </if>
      <if test="xm != null">
        XM,
      </if>
      <if test="xb != null">
        XB,
      </if>
      <if test="zjlx != null">
        ZJLX,
      </if>
      <if test="zjbh != null">
        ZJBH,
      </if>
      <if test="cshrq != null">
        CSHRQ,
      </if>
      <if test="qyrq != null">
        QYRQ,
      </if>
      <if test="yxrq != null">
        YXRQ,
      </if>
      <if test="nsrq != null">
        NSRQ,
      </if>
      <if test="nsrybh != null">
        NSRYBH,
      </if>
      <if test="isns != null">
        ISNS,
      </if>
      <if test="kzhxfjesum != null">
        KZHXFJESUM,
      </if>
      <if test="kzhczjesum != null">
        KZHCZJESUM,
      </if>
      <if test="fkrybh != null">
        FKRYBH,
      </if>
      <if test="fkxm != null">
        FKXM,
      </if>
      <if test="samkh != null">
        SAMKH,
      </if>
      <if test="ykbz != null">
        YKBZ,
      </if>
      <if test="jy != null">
        JY,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="pin != null">
        PIN,
      </if>
      <if test="qbye != null">
        QBYE,
      </if>
      <if test="syjf != null">
        SYJF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fxkh != null">
        #{fxkh,jdbcType=VARCHAR},
      </if>
      <if test="csdm != null">
        #{csdm,jdbcType=VARCHAR},
      </if>
      <if test="hydm != null">
        #{hydm,jdbcType=VARCHAR},
      </if>
      <if test="klx != null">
        #{klx,jdbcType=VARCHAR},
      </if>
      <if test="mklx != null">
        #{mklx,jdbcType=VARCHAR},
      </if>
      <if test="zklx != null">
        #{zklx,jdbcType=VARCHAR},
      </if>
      <if test="csn != null">
        #{csn,jdbcType=VARCHAR},
      </if>
      <if test="kzhzt != null">
        #{kzhzt,jdbcType=VARCHAR},
      </if>
      <if test="sksj != null">
        #{sksj,jdbcType=DATE},
      </if>
      <if test="yj != null">
        #{yj,jdbcType=DECIMAL},
      </if>
      <if test="czsj != null">
        #{czsj,jdbcType=DATE},
      </if>
      <if test="czje != null">
        #{czje,jdbcType=DECIMAL},
      </if>
      <if test="sysj != null">
        #{sysj,jdbcType=DATE},
      </if>
      <if test="ye != null">
        #{ye,jdbcType=DECIMAL},
      </if>
      <if test="sycs != null">
        #{sycs,jdbcType=DECIMAL},
      </if>
      <if test="tksj != null">
        #{tksj,jdbcType=DATE},
      </if>
      <if test="tkyj != null">
        #{tkyj,jdbcType=DECIMAL},
      </if>
      <if test="tkje != null">
        #{tkje,jdbcType=DECIMAL},
      </if>
      <if test="tkcs != null">
        #{tkcs,jdbcType=DECIMAL},
      </if>
      <if test="gssj != null">
        #{gssj,jdbcType=DATE},
      </if>
      <if test="gsrybh != null">
        #{gsrybh,jdbcType=DECIMAL},
      </if>
      <if test="jgsj != null">
        #{jgsj,jdbcType=DATE},
      </if>
      <if test="jgrybh != null">
        #{jgrybh,jdbcType=DECIMAL},
      </if>
      <if test="gscq != null">
        #{gscq,jdbcType=VARCHAR},
      </if>
      <if test="changefxkh != null">
        #{changefxkh,jdbcType=VARCHAR},
      </if>
      <if test="changesj != null">
        #{changesj,jdbcType=DATE},
      </if>
      <if test="changerybh != null">
        #{changerybh,jdbcType=DECIMAL},
      </if>
      <if test="hmdbz != null">
        #{hmdbz,jdbcType=VARCHAR},
      </if>
      <if test="cardcnt != null">
        #{cardcnt,jdbcType=DECIMAL},
      </if>
      <if test="posseq != null">
        #{posseq,jdbcType=DECIMAL},
      </if>
      <if test="rybh != null">
        #{rybh,jdbcType=DECIMAL},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjbh != null">
        #{zjbh,jdbcType=VARCHAR},
      </if>
      <if test="cshrq != null">
        #{cshrq,jdbcType=DATE},
      </if>
      <if test="qyrq != null">
        #{qyrq,jdbcType=DATE},
      </if>
      <if test="yxrq != null">
        #{yxrq,jdbcType=DATE},
      </if>
      <if test="nsrq != null">
        #{nsrq,jdbcType=DATE},
      </if>
      <if test="nsrybh != null">
        #{nsrybh,jdbcType=DECIMAL},
      </if>
      <if test="isns != null">
        #{isns,jdbcType=VARCHAR},
      </if>
      <if test="kzhxfjesum != null">
        #{kzhxfjesum,jdbcType=DECIMAL},
      </if>
      <if test="kzhczjesum != null">
        #{kzhczjesum,jdbcType=DECIMAL},
      </if>
      <if test="fkrybh != null">
        #{fkrybh,jdbcType=DECIMAL},
      </if>
      <if test="fkxm != null">
        #{fkxm,jdbcType=VARCHAR},
      </if>
      <if test="samkh != null">
        #{samkh,jdbcType=VARCHAR},
      </if>
      <if test="ykbz != null">
        #{ykbz,jdbcType=VARCHAR},
      </if>
      <if test="jy != null">
        #{jy,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="pin != null">
        #{pin,jdbcType=VARCHAR},
      </if>
      <if test="qbye != null">
        #{qbye,jdbcType=DECIMAL},
      </if>
      <if test="syjf != null">
        #{syjf,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whpe.bean.CardInfo">
    update gjic.CARD_INFO
    <set>
      <if test="csdm != null">
        CSDM = #{csdm,jdbcType=VARCHAR},
      </if>
      <if test="hydm != null">
        HYDM = #{hydm,jdbcType=VARCHAR},
      </if>
      <if test="klx != null">
        KLX = #{klx,jdbcType=VARCHAR},
      </if>
      <if test="mklx != null">
        MKLX = #{mklx,jdbcType=VARCHAR},
      </if>
      <if test="zklx != null">
        ZKLX = #{zklx,jdbcType=VARCHAR},
      </if>
      <if test="csn != null">
        CSN = #{csn,jdbcType=VARCHAR},
      </if>
      <if test="kzhzt != null">
        KZHZT = #{kzhzt,jdbcType=VARCHAR},
      </if>
      <if test="sksj != null">
        SKSJ = #{sksj,jdbcType=DATE},
      </if>
      <if test="yj != null">
        YJ = #{yj,jdbcType=DECIMAL},
      </if>
      <if test="czsj != null">
        CZSJ = #{czsj,jdbcType=DATE},
      </if>
      <if test="czje != null">
        CZJE = #{czje,jdbcType=DECIMAL},
      </if>
      <if test="sysj != null">
        SYSJ = #{sysj,jdbcType=DATE},
      </if>
      <if test="ye != null">
        YE = #{ye,jdbcType=DECIMAL},
      </if>
      <if test="sycs != null">
        SYCS = #{sycs,jdbcType=DECIMAL},
      </if>
      <if test="tksj != null">
        TKSJ = #{tksj,jdbcType=DATE},
      </if>
      <if test="tkyj != null">
        TKYJ = #{tkyj,jdbcType=DECIMAL},
      </if>
      <if test="tkje != null">
        TKJE = #{tkje,jdbcType=DECIMAL},
      </if>
      <if test="tkcs != null">
        TKCS = #{tkcs,jdbcType=DECIMAL},
      </if>
      <if test="gssj != null">
        GSSJ = #{gssj,jdbcType=DATE},
      </if>
      <if test="gsrybh != null">
        GSRYBH = #{gsrybh,jdbcType=DECIMAL},
      </if>
      <if test="jgsj != null">
        JGSJ = #{jgsj,jdbcType=DATE},
      </if>
      <if test="jgrybh != null">
        JGRYBH = #{jgrybh,jdbcType=DECIMAL},
      </if>
      <if test="gscq != null">
        GSCQ = #{gscq,jdbcType=VARCHAR},
      </if>
      <if test="changefxkh != null">
        CHANGEFXKH = #{changefxkh,jdbcType=VARCHAR},
      </if>
      <if test="changesj != null">
        CHANGESJ = #{changesj,jdbcType=DATE},
      </if>
      <if test="changerybh != null">
        CHANGERYBH = #{changerybh,jdbcType=DECIMAL},
      </if>
      <if test="hmdbz != null">
        HMDBZ = #{hmdbz,jdbcType=VARCHAR},
      </if>
      <if test="cardcnt != null">
        CARDCNT = #{cardcnt,jdbcType=DECIMAL},
      </if>
      <if test="posseq != null">
        POSSEQ = #{posseq,jdbcType=DECIMAL},
      </if>
      <if test="rybh != null">
        RYBH = #{rybh,jdbcType=DECIMAL},
      </if>
      <if test="xm != null">
        XM = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        XB = #{xb,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        ZJLX = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjbh != null">
        ZJBH = #{zjbh,jdbcType=VARCHAR},
      </if>
      <if test="cshrq != null">
        CSHRQ = #{cshrq,jdbcType=DATE},
      </if>
      <if test="qyrq != null">
        QYRQ = #{qyrq,jdbcType=DATE},
      </if>
      <if test="yxrq != null">
        YXRQ = #{yxrq,jdbcType=DATE},
      </if>
      <if test="nsrq != null">
        NSRQ = #{nsrq,jdbcType=DATE},
      </if>
      <if test="nsrybh != null">
        NSRYBH = #{nsrybh,jdbcType=DECIMAL},
      </if>
      <if test="isns != null">
        ISNS = #{isns,jdbcType=VARCHAR},
      </if>
      <if test="kzhxfjesum != null">
        KZHXFJESUM = #{kzhxfjesum,jdbcType=DECIMAL},
      </if>
      <if test="kzhczjesum != null">
        KZHCZJESUM = #{kzhczjesum,jdbcType=DECIMAL},
      </if>
      <if test="fkrybh != null">
        FKRYBH = #{fkrybh,jdbcType=DECIMAL},
      </if>
      <if test="fkxm != null">
        FKXM = #{fkxm,jdbcType=VARCHAR},
      </if>
      <if test="samkh != null">
        SAMKH = #{samkh,jdbcType=VARCHAR},
      </if>
      <if test="ykbz != null">
        YKBZ = #{ykbz,jdbcType=VARCHAR},
      </if>
      <if test="jy != null">
        JY = #{jy,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="pin != null">
        PIN = #{pin,jdbcType=VARCHAR},
      </if>
      <if test="qbye != null">
        QBYE = #{qbye,jdbcType=DECIMAL},
      </if>
      <if test="syjf != null">
        SYJF = #{syjf,jdbcType=DECIMAL},
      </if>
    </set>
    where FXKH = #{fxkh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whpe.bean.CardInfo">
    update gjic.CARD_INFO
    set CSDM = #{csdm,jdbcType=VARCHAR},
      HYDM = #{hydm,jdbcType=VARCHAR},
      KLX = #{klx,jdbcType=VARCHAR},
      MKLX = #{mklx,jdbcType=VARCHAR},
      ZKLX = #{zklx,jdbcType=VARCHAR},
      CSN = #{csn,jdbcType=VARCHAR},
      KZHZT = #{kzhzt,jdbcType=VARCHAR},
      SKSJ = #{sksj,jdbcType=DATE},
      YJ = #{yj,jdbcType=DECIMAL},
      CZSJ = #{czsj,jdbcType=DATE},
      CZJE = #{czje,jdbcType=DECIMAL},
      SYSJ = #{sysj,jdbcType=DATE},
      YE = #{ye,jdbcType=DECIMAL},
      SYCS = #{sycs,jdbcType=DECIMAL},
      TKSJ = #{tksj,jdbcType=DATE},
      TKYJ = #{tkyj,jdbcType=DECIMAL},
      TKJE = #{tkje,jdbcType=DECIMAL},
      TKCS = #{tkcs,jdbcType=DECIMAL},
      GSSJ = #{gssj,jdbcType=DATE},
      GSRYBH = #{gsrybh,jdbcType=DECIMAL},
      JGSJ = #{jgsj,jdbcType=DATE},
      JGRYBH = #{jgrybh,jdbcType=DECIMAL},
      GSCQ = #{gscq,jdbcType=VARCHAR},
      CHANGEFXKH = #{changefxkh,jdbcType=VARCHAR},
      CHANGESJ = #{changesj,jdbcType=DATE},
      CHANGERYBH = #{changerybh,jdbcType=DECIMAL},
      HMDBZ = #{hmdbz,jdbcType=VARCHAR},
      CARDCNT = #{cardcnt,jdbcType=DECIMAL},
      POSSEQ = #{posseq,jdbcType=DECIMAL},
      RYBH = #{rybh,jdbcType=DECIMAL},
      XM = #{xm,jdbcType=VARCHAR},
      XB = #{xb,jdbcType=VARCHAR},
      ZJLX = #{zjlx,jdbcType=VARCHAR},
      ZJBH = #{zjbh,jdbcType=VARCHAR},
      CSHRQ = #{cshrq,jdbcType=DATE},
      QYRQ = #{qyrq,jdbcType=DATE},
      YXRQ = #{yxrq,jdbcType=DATE},
      NSRQ = #{nsrq,jdbcType=DATE},
      NSRYBH = #{nsrybh,jdbcType=DECIMAL},
      ISNS = #{isns,jdbcType=VARCHAR},
      KZHXFJESUM = #{kzhxfjesum,jdbcType=DECIMAL},
      KZHCZJESUM = #{kzhczjesum,jdbcType=DECIMAL},
      FKRYBH = #{fkrybh,jdbcType=DECIMAL},
      FKXM = #{fkxm,jdbcType=VARCHAR},
      SAMKH = #{samkh,jdbcType=VARCHAR},
      YKBZ = #{ykbz,jdbcType=VARCHAR},
      JY = #{jy,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      PIN = #{pin,jdbcType=VARCHAR},
      QBYE = #{qbye,jdbcType=DECIMAL},
      SYJF = #{syjf,jdbcType=DECIMAL}
    where FXKH = #{fxkh,jdbcType=VARCHAR}
  </update>
</mapper>