<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whpe.dao.SysPeopleMapper" >
  <resultMap id="BaseResultMap" type="com.whpe.bean.SysPeople" >
    <id column="PU_PEOPLE_ID" property="puPeopleId" jdbcType="VARCHAR" />
    <result column="PU_APP_ID" property="puAppId" jdbcType="VARCHAR" />
    <result column="PU_REAL_NAME" property="puRealName" jdbcType="VARCHAR" />
    <result column="PU_NICKNAME" property="puNickname" jdbcType="VARCHAR" />
    <result column="PU_SEX" property="puSex" jdbcType="VARCHAR" />
    <result column="PU_ICON" property="puIcon" jdbcType="VARCHAR" />
    <result column="PU_CREATEDATE" property="puCreatedate" jdbcType="DATE" />
    <result column="PU_CREATEID" property="puCreateid" jdbcType="VARCHAR" />
    <result column="PU_UPDATEDATE" property="puUpdatedate" jdbcType="DATE" />
    <result column="PU_UPDATEID" property="puUpdateid" jdbcType="VARCHAR" />
    <result column="PU_ADDRESS" property="puAddress" jdbcType="VARCHAR" />
    <result column="PU_PROVINCE" property="puProvince" jdbcType="DECIMAL" />
    <result column="PU_CITY" property="puCity" jdbcType="DECIMAL" />
    <result column="PU_DISTRICT" property="puDistrict" jdbcType="DECIMAL" />
    <result column="PU_STREET" property="puStreet" jdbcType="DECIMAL" />
    <result column="PU_REMARK" property="puRemark" jdbcType="VARCHAR" />
    <result column="U_ID" property="uId" jdbcType="VARCHAR" />
    <result column="BONUS_POINT" property="bonusPoint" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    PU_PEOPLE_ID, PU_APP_ID, PU_REAL_NAME, PU_NICKNAME, PU_SEX, PU_ICON, PU_CREATEDATE, 
    PU_CREATEID, PU_UPDATEDATE, PU_UPDATEID, PU_ADDRESS, PU_PROVINCE, PU_CITY, PU_DISTRICT, 
    PU_STREET, PU_REMARK, U_ID, BONUS_POINT, DEF3, DEF4, DEF5, DEF6, DEF7, DEF8, DEF9, DEF10
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PEOPLE
    where PU_PEOPLE_ID = #{puPeopleId,jdbcType=VARCHAR}
  </select>
  <select id="selectSysPeopleByUid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_PEOPLE
    where U_ID = #{uId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_PEOPLE
    where PU_PEOPLE_ID = #{puPeopleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.whpe.bean.SysPeople" >
    insert into SYS_PEOPLE (PU_PEOPLE_ID, PU_APP_ID, PU_REAL_NAME, 
      PU_NICKNAME, PU_SEX, PU_ICON, 
      PU_CREATEDATE, PU_CREATEID, PU_UPDATEDATE, 
      PU_UPDATEID, PU_ADDRESS, PU_PROVINCE, 
      PU_CITY, PU_DISTRICT, PU_STREET, 
      PU_REMARK, U_ID, BONUS_POINT, DEF3, 
      DEF4, DEF5, DEF6, DEF7, 
      DEF8, DEF9, DEF10)
    values (#{puPeopleId,jdbcType=VARCHAR}, #{puAppId,jdbcType=VARCHAR}, #{puRealName,jdbcType=VARCHAR}, 
      #{puNickname,jdbcType=VARCHAR}, #{puSex,jdbcType=VARCHAR}, #{puIcon,jdbcType=VARCHAR}, 
      #{puCreatedate,jdbcType=TIMESTAMP}, #{puCreateid,jdbcType=VARCHAR}, #{puUpdatedate,jdbcType=TIMESTAMP},
      #{puUpdateid,jdbcType=VARCHAR}, #{puAddress,jdbcType=VARCHAR}, #{puProvince,jdbcType=DECIMAL}, 
      #{puCity,jdbcType=DECIMAL}, #{puDistrict,jdbcType=DECIMAL}, #{puStreet,jdbcType=DECIMAL}, 
      #{puRemark,jdbcType=VARCHAR}, #{uId,jdbcType=VARCHAR}, #{bonusPoint,jdbcType=DECIMAL}, #{def3,jdbcType=CHAR}, 
      #{def4,jdbcType=CHAR}, #{def5,jdbcType=CHAR}, #{def6,jdbcType=CHAR}, #{def7,jdbcType=CHAR}, 
      #{def8,jdbcType=CHAR}, #{def9,jdbcType=CHAR}, #{def10,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whpe.bean.SysPeople" >
    <selectKey keyProperty="puPeopleId" resultType="java.lang.String" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into SYS_PEOPLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PU_PEOPLE_ID,
      <if test="puAppId != null" >
        PU_APP_ID,
      </if>
      <if test="puRealName != null" >
        PU_REAL_NAME,
      </if>
      <if test="puNickname != null" >
        PU_NICKNAME,
      </if>
      <if test="puSex != null" >
        PU_SEX,
      </if>
      <if test="puIcon != null" >
        PU_ICON,
      </if>
      <if test="puCreatedate != null" >
        PU_CREATEDATE,
      </if>
      <if test="puCreateid != null" >
        PU_CREATEID,
      </if>
      <if test="puUpdatedate != null" >
        PU_UPDATEDATE,
      </if>
      <if test="puUpdateid != null" >
        PU_UPDATEID,
      </if>
      <if test="puAddress != null" >
        PU_ADDRESS,
      </if>
      <if test="puProvince != null" >
        PU_PROVINCE,
      </if>
      <if test="puCity != null" >
        PU_CITY,
      </if>
      <if test="puDistrict != null" >
        PU_DISTRICT,
      </if>
      <if test="puStreet != null" >
        PU_STREET,
      </if>
      <if test="puRemark != null" >
        PU_REMARK,
      </if>
      <if test="uId != null" >
        U_ID,
      </if>
      <if test="bonusPoint != null" >
        BONUS_POINT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{puPeopleId,jdbcType=VARCHAR},
      <if test="puAppId != null" >
        #{puAppId,jdbcType=VARCHAR},
      </if>
      <if test="puRealName != null" >
        #{puRealName,jdbcType=VARCHAR},
      </if>
      <if test="puNickname != null" >
        #{puNickname,jdbcType=VARCHAR},
      </if>
      <if test="puSex != null" >
        #{puSex,jdbcType=VARCHAR},
      </if>
      <if test="puIcon != null" >
        #{puIcon,jdbcType=VARCHAR},
      </if>
      <if test="puCreatedate != null" >
        #{puCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puCreateid != null" >
        #{puCreateid,jdbcType=VARCHAR},
      </if>
      <if test="puUpdatedate != null" >
        #{puUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puUpdateid != null" >
        #{puUpdateid,jdbcType=VARCHAR},
      </if>
      <if test="puAddress != null" >
        #{puAddress,jdbcType=VARCHAR},
      </if>
      <if test="puProvince != null" >
        #{puProvince,jdbcType=DECIMAL},
      </if>
      <if test="puCity != null" >
        #{puCity,jdbcType=DECIMAL},
      </if>
      <if test="puDistrict != null" >
        #{puDistrict,jdbcType=DECIMAL},
      </if>
      <if test="puStreet != null" >
        #{puStreet,jdbcType=DECIMAL},
      </if>
      <if test="puRemark != null" >
        #{puRemark,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="bonusPoint != null" >
        #{bonusPoint,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whpe.bean.SysPeople" >
    update SYS_PEOPLE
    <set >
      <if test="puAppId != null" >
        PU_APP_ID = #{puAppId,jdbcType=VARCHAR},
      </if>
      <if test="puRealName != null" >
        PU_REAL_NAME = #{puRealName,jdbcType=VARCHAR},
      </if>
      <if test="puNickname != null" >
        PU_NICKNAME = #{puNickname,jdbcType=VARCHAR},
      </if>
      <if test="puSex != null" >
        PU_SEX = #{puSex,jdbcType=VARCHAR},
      </if>
      <if test="puIcon != null" >
        PU_ICON = #{puIcon,jdbcType=VARCHAR},
      </if>
      <if test="puCreatedate != null" >
        PU_CREATEDATE = #{puCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puCreateid != null" >
        PU_CREATEID = #{puCreateid,jdbcType=VARCHAR},
      </if>
      <if test="puUpdatedate != null" >
        PU_UPDATEDATE = #{puUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puUpdateid != null" >
        PU_UPDATEID = #{puUpdateid,jdbcType=VARCHAR},
      </if>
      <if test="puAddress != null" >
        PU_ADDRESS = #{puAddress,jdbcType=VARCHAR},
      </if>
      <if test="puProvince != null" >
        PU_PROVINCE = #{puProvince,jdbcType=DECIMAL},
      </if>
      <if test="puCity != null" >
        PU_CITY = #{puCity,jdbcType=DECIMAL},
      </if>
      <if test="puDistrict != null" >
        PU_DISTRICT = #{puDistrict,jdbcType=DECIMAL},
      </if>
      <if test="puStreet != null" >
        PU_STREET = #{puStreet,jdbcType=DECIMAL},
      </if>
      <if test="puRemark != null" >
        PU_REMARK = #{puRemark,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        U_ID = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="bonusPoint != null" >
        BONUS_POINT = #{bonusPoint,jdbcType=DECIMAL},
      </if>
    </set>
    where PU_PEOPLE_ID = #{puPeopleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whpe.bean.SysPeople" >
    update SYS_PEOPLE
    set PU_APP_ID = #{puAppId,jdbcType=VARCHAR},
      PU_REAL_NAME = #{puRealName,jdbcType=VARCHAR},
      PU_NICKNAME = #{puNickname,jdbcType=VARCHAR},
      PU_SEX = #{puSex,jdbcType=VARCHAR},
      PU_ICON = #{puIcon,jdbcType=VARCHAR},
      PU_CREATEDATE = #{puCreatedate,jdbcType=TIMESTAMP},
      PU_CREATEID = #{puCreateid,jdbcType=VARCHAR},
      PU_UPDATEDATE = #{puUpdatedate,jdbcType=TIMESTAMP},
      PU_UPDATEID = #{puUpdateid,jdbcType=VARCHAR},
      PU_ADDRESS = #{puAddress,jdbcType=VARCHAR},
      PU_PROVINCE = #{puProvince,jdbcType=DECIMAL},
      PU_CITY = #{puCity,jdbcType=DECIMAL},
      PU_DISTRICT = #{puDistrict,jdbcType=DECIMAL},
      PU_STREET = #{puStreet,jdbcType=DECIMAL},
      PU_REMARK = #{puRemark,jdbcType=VARCHAR},
      U_ID = #{uId,jdbcType=VARCHAR},
      BONUS_POINT = #{bonusPoint,jdbcType=DECIMAL}
    where PU_PEOPLE_ID = #{puPeopleId,jdbcType=VARCHAR}
  </update>
  <update id="updateSysPeopleByUid" parameterType="com.whpe.bean.dto.SysPeopleDTO">
    update SYS_PEOPLE
    <set >
      <if test="puAppId != null" >
        PU_APP_ID = #{puAppId,jdbcType=VARCHAR},
      </if>
      <if test="puRealName != null" >
        PU_REAL_NAME = #{puRealName,jdbcType=VARCHAR},
      </if>
      <if test="puNickname != null" >
        PU_NICKNAME = #{puNickname,jdbcType=VARCHAR},
      </if>
      <if test="puSex != null" >
        PU_SEX = #{puSex,jdbcType=VARCHAR},
      </if>
      <if test="puIcon != null" >
        PU_ICON = #{puIcon,jdbcType=VARCHAR},
      </if>
      <if test="puCreatedate != null" >
        PU_CREATEDATE = #{puCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puCreateid != null" >
        PU_CREATEID = #{puCreateid,jdbcType=VARCHAR},
      </if>
      <if test="puUpdatedate != null" >
        PU_UPDATEDATE = #{puUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="puUpdateid != null" >
        PU_UPDATEID = #{puUpdateid,jdbcType=VARCHAR},
      </if>
      <if test="puAddress != null" >
        PU_ADDRESS = #{puAddress,jdbcType=VARCHAR},
      </if>
      <if test="puProvince != null" >
        PU_PROVINCE = #{puProvince,jdbcType=DECIMAL},
      </if>
      <if test="puCity != null" >
        PU_CITY = #{puCity,jdbcType=DECIMAL},
      </if>
      <if test="puDistrict != null" >
        PU_DISTRICT = #{puDistrict,jdbcType=DECIMAL},
      </if>
      <if test="puStreet != null" >
        PU_STREET = #{puStreet,jdbcType=DECIMAL},
      </if>
      <if test="puRemark != null" >
        PU_REMARK = #{puRemark,jdbcType=VARCHAR},
      </if>
      <if test="bonusPoint != null" >
        BONUS_POINT = #{bonusPoint,jdbcType=DECIMAL},
      </if>
    </set>
    where U_ID = #{uId,jdbcType=VARCHAR}
  </update>
</mapper>