<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whpe.dao.yckq.LeaseVouchersMapper" >
  <resultMap id="BaseResultMap" type="com.whpe.bean.LeaseVouchers" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="VOUCHERS" property="vouchers" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="USE_OBJECT" property="useObject" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, USER_ID, VOUCHERS, CREATE_TIME, END_TIME, USE_OBJECT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LEASE_VOUCHERS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByVouchers" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from LEASE_VOUCHERS
    where VOUCHERS = #{vouchers,jdbcType=VARCHAR}
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from LEASE_VOUCHERS
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LEASE_VOUCHERS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.whpe.bean.LeaseVouchers" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into LEASE_VOUCHERS (ID, ORDER_ID, USER_ID, 
      VOUCHERS, CREATE_TIME, END_TIME, 
      USE_OBJECT)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{vouchers,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
      #{useObject,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whpe.bean.LeaseVouchers" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into LEASE_VOUCHERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="vouchers != null" >
        VOUCHERS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="useObject != null" >
        USE_OBJECT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=VARCHAR},
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vouchers != null" >
        #{vouchers,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useObject != null" >
        #{useObject,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whpe.bean.LeaseVouchers" >
    update LEASE_VOUCHERS
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vouchers != null" >
        VOUCHERS = #{vouchers,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useObject != null" >
        USE_OBJECT = #{useObject,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whpe.bean.LeaseVouchers" >
    update LEASE_VOUCHERS
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      VOUCHERS = #{vouchers,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      USE_OBJECT = #{useObject,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>