<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whpe.dao.yckq.NhrequestresultMapper" >
  <resultMap id="BaseResultMap" type="com.whpe.bean.Nhrequestresult" >
    <result column="TRXTYPE" property="trxtype" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderno" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="BATCHNO" property="batchno" jdbcType="VARCHAR" />
    <result column="VOUCHERNO" property="voucherno" jdbcType="VARCHAR" />
    <result column="HOSTDATETIME" property="hostdatetime" jdbcType="TIMESTAMP" />
    <result column="MERCHANTREMARKS" property="merchantremarks" jdbcType="VARCHAR" />
    <result column="PAYTYPE" property="paytype" jdbcType="VARCHAR" />
    <result column="NOTIFYTYPE" property="notifytype" jdbcType="VARCHAR" />
    <result column="IRSPREF" property="irspref" jdbcType="VARCHAR" />
    <result column="RETURNCODE" property="returncode" jdbcType="VARCHAR" />
    <result column="ERRORMESSAGE" property="errormessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TRXTYPE, ORDERNO, AMOUNT, BATCHNO, VOUCHERNO, HOSTDATETIME, MERCHANTREMARKS, PAYTYPE, NOTIFYTYPE,
      IRSPREF, RETURNCODE, ERRORMESSAGE
  </sql>
  <insert id="insert" parameterType="com.whpe.bean.Nhrequestresult" >
    insert into gjic.NHREQUESTRESULT (TRXTYPE, ORDERNO, AMOUNT,
      BATCHNO, VOUCHERNO, HOSTDATETIME, 
      MERCHANTREMARKS, PAYTYPE, NOTIFYTYPE, 
      IRSPREF, RETURNCODE, ERRORMESSAGE
      )
    values (#{trxtype,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{batchno,jdbcType=VARCHAR}, #{voucherno,jdbcType=VARCHAR}, #{hostdatetime,jdbcType=TIMESTAMP},
      #{merchantremarks,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, #{notifytype,jdbcType=VARCHAR}, 
      #{irspref,jdbcType=VARCHAR}, #{returncode,jdbcType=VARCHAR}, #{errormessage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whpe.bean.Nhrequestresult" >
    insert into gjic.NHREQUESTRESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trxtype != null" >
        TRXTYPE,
      </if>
      <if test="orderno != null" >
        ORDERNO,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="batchno != null" >
        BATCHNO,
      </if>
      <if test="voucherno != null" >
        VOUCHERNO,
      </if>
      <if test="hostdatetime != null" >
        HOSTDATETIME,
      </if>
      <if test="merchantremarks != null" >
        MERCHANTREMARKS,
      </if>
      <if test="paytype != null" >
        PAYTYPE,
      </if>
      <if test="notifytype != null" >
        NOTIFYTYPE,
      </if>
      <if test="irspref != null" >
        IRSPREF,
      </if>
      <if test="returncode != null" >
        RETURNCODE,
      </if>
      <if test="errormessage != null" >
        ERRORMESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trxtype != null" >
        #{trxtype,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="batchno != null" >
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="voucherno != null" >
        #{voucherno,jdbcType=VARCHAR},
      </if>
      <if test="hostdatetime != null" >
        #{hostdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantremarks != null" >
        #{merchantremarks,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="notifytype != null" >
        #{notifytype,jdbcType=VARCHAR},
      </if>
      <if test="irspref != null" >
        #{irspref,jdbcType=VARCHAR},
      </if>
      <if test="returncode != null" >
        #{returncode,jdbcType=VARCHAR},
      </if>
      <if test="errormessage != null" >
        #{errormessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>